/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(45, 99%, 55%);
  --first-color-alt: hsl(45, 99%, 48%);
  --second-color: hsl(22, 100%, 8%);
  --white-color: hsl(34, 100%, 96%);
  --title-color: hsl(22, 100%, 8%);
  --text-color: hsl(22, 24%, 32%);
  --text-color-light: hsl(23, 16%, 40%);
  --body-color: hsl(34, 100%, 92%);
  --body-color-alt: hsl(34, 100%, 88%);
  --container-color: hsl(34, 100%, 96%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, .2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Aclonica", sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  font-family: var(--second-font);
  color: var(--second-color);
}

.nav-logo div{
  background-color: var(--first-color);
  padding: .5rem;
  border-radius: 10px;
}

.nav-logo div img {
  width: 20px;
}

.nav-toggle,
.nav-close {
  display:flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */

@media screen and (max-width:1150px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4rem 3rem;
    box-shadow: 0px 4px 16px hsla(22, 100%, 8%, .2);
    transition: top .4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
} 

.nav-link::after{
  content: '';
  width: 0;
  height: 3px;
  bottom: -.3rem;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  transition: width .4s;
}

.nav-link:hover::after {
  width: 70%;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */

.shadow-header {
  box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
}

/* Active link */
.active-link::after{
  width: 60%;
}

/*=============== HOME ===============*/

.home-container {
  padding-block: 4rem 2rem;
  justify-content: center;
  row-gap: 3rem;
}

.home-data {
  position: relative;
  text-align: center;
}

.home-title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home-description {
  margin-bottom: 2.5rem;
}

.home-sticker {
  width: 40px;
  rotate: 15deg;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  opacity: .5;
}

.home-images {
  position: relative;
  display: grid;
  justify-content: center;
  justify-self: center;
}

.home-ingridents {
  width: 60px;
  filter: var(--shadow-small-img);
  position: absolute;
  z-index: 2;
}

.home-burger,
.home-dish {
  fill-rule: var(--shadow-big-img);
}

.home-burger {
  width: 300px;
  z-index: 2;
}

.home-dish {
  max-width: initial;
  width: 310px;
  position: absolute;
  bottom:-2.2rem;
}

.home-potato-1{
  left: -1rem;  
  top: .75rem;
}

.home-potato-2{
  right: -.75rem;
  bottom: -2rem;
  rotate: 90deg;
}

.home-tomato-1 {
  width: 40px;
  top: -1rem;
  right: 6rem;
}

.home-tomato-2 {
  width: 40px;
  left: 5.5rem;
  bottom:-1.5rem ;
}

.home-lettuce-1 {
  top: 2.5rem; 
  right:-2rem ;
  transform: scaleX(-1);
}

.home-lettuce-2 {
  left:-2rem;
  bottom:1rem;
}

/*=============== BUTTON ===============*/

.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 0.8rem 1.8rem;
  border-radius: 4rem;
  font-family: var(--second-font);
  transition: box-shadow .4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(22, 100%, 8%, .2);
}

/*=============== RECIPE ===============*/
.recipe {
  overflow: hidden;
}

.recipe-container {
  grid-template-columns: .5fr 1fr;
  column-gap: 1rem;
  padding-bottom: 2rem;
}

.recipe-image {
  position: relative;
  display: grid;
  place-items: center;
}

.recipe-img {
  position: absolute;
  max-width: initial;
  width: 200px;
  left: -4rem;
  filter: var(--shadow-big-img);
}

.recipe-data {
  display: grid;
  row-gap: 2rem;
}

.recipe-card {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.recipe-box {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  background-color: var(--first-color);
  border: 3px solid var(--container-color);
  display: grid;
  place-items: center;
  border-radius: .75rem;
}

.recipe-box img {
  width: 50px;
  filter: var(--shadow-small-img);
}

.recipe-title {
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
}

.recipe-description {
  font-size: var(--small-font-size);
}

.recipe-card:nth-child(even) .recipe-box {
  order: 1;
}

/*=============== POPULAR ===============*/
.popular {
  background-color: var(--body-color-alt);
}

.popular-container {
  grid-template-columns: repeat(2, 1fr);
  padding-block: 2rem;
  gap: 3.5rem 1.5rem;
}

.popular-card {
  position: relative;
  background-color: var(--first-color);
  padding: 6rem .75rem 1rem;
  border: 4px solid var(--container-color);
  border-radius: 1rem;
}

.popular-img {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  width: 120px;
  filter: var(--shadow-small-img);
  margin: 0 auto;
  transition: transform .4s;
}

.popular-title {
  font-size: var(--normal-font-size);
  margin-bottom: .75rem;
}

.popular-price {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-family: var(--second-font);
}

.popular-button {
  position: absolute;
  right: .75rem;
  bottom: 1rem;
  border: none;
  outline: none;
  padding: 6px;
  background-color: var(--second-color);
  color: var(--white-color);
  border-radius: .5rem;
  font-size: 1.25rem;
  display: inline-flex;
  cursor: pointer;
}

.popular-card:hover .popular-img {
  transform:translateY(-.5rem) ;
}

/*=============== DELIVERY ===============*/
.delivery-container {
  row-gap: 2.5rem;
} 

.delivery-data {
  position: relative;
  text-align: center;
}

.delivery-container .section-title {
  margin-bottom: 1rem;
}

.delivery-description {
  margin-bottom: 2rem;
}

.delivery-sticker {
  width: 30px;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  opacity: .5;
  rotate: 15deg;
}

.delivery-img {
  width: 320px;
  justify-self: center;
  filter: var(--shadow-big-img);
}

/*=============== CONTACT ===============*/
.contact-container {
  position: relative;
  background-color: var(--second-color);
  overflow: hidden;
  padding-top: 3rem;
  border-radius: 3rem;
}

.contact-content {
  row-gap: 3rem;
}

.contact-container .section-title,
.contanct-title,
.contact-info {
  color: var(--white-color);
}

.contact-data {
  text-align: center;
  gap: .5rem;
}

.contact-title {
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}

.contact-social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.contact-social a {
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  color: var(--second-color);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: .5rem;
  transition: transform .4s;
}

.contact-social a:hover {
  transform: translateY(-.25rem);
}

.contact-info {
  font-size: normal;
}

.contact-image {
  justify-self:center ;
}

.contact-img {
  width: 280px;
}

.contact-sticker1,
.contact-sticker2 {
  position: absolute;
  opacity: .5;
}

.contact-sticker1 {
  width: 40px;
  top: 6.5rem;
  left: 1.5rem;
}

.contact-sticker2 {
  width: 30px;
  bottom: 12rem;
  right: 3rem;
}

/*=============== FOOTER ===============*/
.footer {
  padding-block: 3rem 2rem;
}

.footer-container {
  row-gap: 2rem;
}

.footer-logo {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-family: var(--second-font);
  justify-self: center;
}

.footer-content {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}

.footer-link {
  color: var(--text-color);
}

.footer-social {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer-social a {
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  color: var(--second-color);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: .5rem;
  transition: transform .4s;
}

.footer-social a:hover {
  transform: translateY(-.25rem);
}

.footer-copy {
  display: block;
  margin-top: 3rem;
  text-align: center;
  font: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background-color: hsl(34, 16%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(34, 16%, 65%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(34, 16%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.2);
  color: var(--title-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  border-radius: 0.35rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}


/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
